.card {
    background-color: rgb(var(--color-primary-rgb));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
    padding: var(--spacing-xs);
    border-radius: var(--spacing-xxs);

    border: 1px solid rgb(255, 255, 255, 0.04);

    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.02),
    0 8px 24px rgb(0, 0, 0, 0.6);
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);

    & span {
        font-size: 0.875rem;
    }
}

.technique-name {
    margin: 0
}

.card-footer p {
    font-size: var(--font-size-xxs);
    color: rgb(175 171 171);
}

.card-button {
    width: 100%;
}